/* some styles for rows and headers */

table.field-display {
    /*     width:100%; */
    /*     background-color: gray; */
    color: #545456;
    padding: 16px;
    font-size: 12px; */
    border: none;
    padding: 16px;
    /* font-size: 16px; */
    /*     border: 1px solid; */
    /*     border-radius:20px; */

}


.row-field {
    border-bottom: 1px solid;
    padding: 3px;
}

.row-edit {
    width: 20px;
    border-bottom: 1px solid;
    padding: 3px;    
}
.row-select {
    width:10px;
    border-bottom: 1px solid;
    padding: 3px;    
}

/* Styles for displaying field naes and values in a grid */

table.field-display {
    width:100%;
    /*     background-color: gray; */
    color: #545456;
    padding: 16px;
    font-size: 12px; */
    border: none;
    padding: 16px;
    /* font-size: 16px; */
    /*     border: 1px solid; */
    /*     border-radius:20px; */

}


.field-name {
    width:20%;
    border-bottom: 1px solid;
    padding: 3px;
    text-align: right;
}

.field-value {
    width: 20px;
    border-bottom: 1px solid;
    padding: 3px;    
}



/* Dropdown Button */
.dropbtn {
    background-color: #dbead5;
    color: white;
    padding: 4px;
    /* font-size: 16px; */
    border: none;
    cursomr: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: b#bfc6bc;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.hide { display:none ; }

.a-modal {
    /* display: block; /\* Hidden by default *\/ */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* The Close Button */
.modal-footer {
    color: white;
    float: right;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



